__pycache__/ftpcmd.cpython-310.pyc
dist/162.zip
dist/ftpcmd
dist/testaa
dist/test/162.zip
build/ftpcmd/Analysis-00.toc
build/ftpcmd/base_library.zip
build/ftpcmd/EXE-00.toc
build/ftpcmd/ftpcmd.pkg
build/ftpcmd/PKG-00.toc
build/ftpcmd/PYZ-00.pyz
build/ftpcmd/PYZ-00.toc
build/ftpcmd/warn-ftpcmd.txt
build/ftpcmd/xref-ftpcmd.html
.vscode/launch.json
__pycache__/ftpcmd.cpython-36.pyc
ftpcmd.spec
build/ftpcmd/localpycs/pyimod01_archive.pyc
build/ftpcmd/localpycs/pyimod02_importers.pyc
build/ftpcmd/localpycs/pyimod03_ctypes.pyc
build/ftpcmd/localpycs/struct.pyc
rpmbuild/BUILD/ftpcmd-1.0.1/build_rpm.sh
rpmbuild/BUILD/ftpcmd-1.0.1/config.json
rpmbuild/BUILD/ftpcmd-1.0.1/ftpcmd-1.0.1-1.el7.x86_64.rpm
rpmbuild/BUILD/ftpcmd-1.0.1/ftpcmd.py
rpmbuild/BUILD/ftpcmd-1.0.1/README.md
rpmbuild/BUILD/ftpcmd-1.0.1/requirements.txt
rpmbuild/BUILD/ftpcmd-1.0.1/__pycache__/ftpcmd.cpython-36.pyc
rpmbuild/BUILD/ftpcmd-1.0.1/__pycache__/ftpcmd.cpython-310.pyc
rpmbuild/RPMS/x86_64/ftpcmd-1.0.1-1.x86_64.rpm
rpmbuild/SOURCES/config.json
rpmbuild/SOURCES/ftpcmd
rpmbuild/SOURCES/ftpcmd-1.0.1.tar.gz
