__pycache__/ftpcmd.cpython-310.pyc
dist/162.zip
dist/ftpcmd
dist/testaa
dist/test/162.zip
build/ftpcmd/Analysis-00.toc
build/ftpcmd/base_library.zip
build/ftpcmd/EXE-00.toc
build/ftpcmd/ftpcmd.pkg
build/ftpcmd/PKG-00.toc
build/ftpcmd/PYZ-00.pyz
build/ftpcmd/PYZ-00.toc
build/ftpcmd/warn-ftpcmd.txt
build/ftpcmd/xref-ftpcmd.html
.vscode/launch.json
__pycache__/ftpcmd.cpython-36.pyc
ftpcmd.spec
